body {
  background: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80");
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

input {
  display: block;
  width: 100%;
  border: none;
  color: white;
  font-size: 20px;
  background: #313133;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #283139;
  font-size: 75px;
  text-shadow: 1px 1px 2px #f7f9fa;
}

button {
  padding: 15px 100px 15px 25px;
  background-color: #024d3d;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: 0;
}

.meal {
  display: flex;
  position: relative;
}

p {
  max-width: 100%;
  color: #283139;
  margin-top: 20px;
  padding: 10px 20px;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #024d3d;
}

.icons {
  position: absolute;
  right: 10px;
  top: 35px;
  color: #024d3d;
}

.icon {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 850px) {
  body {
    background-position: center;
  }

  p {
    width: 450px;
  }
}

@media (max-width: 500px) {

  h1 {
    font-size: 50px;
  }

  input {
    width: 90%;
  }

  p {
    width: 300px;
  }

  button {
    margin-bottom: 20px;
  }

  .icons {
    right: 0;
    top: 0;
  }

}